/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* body { font-family: Roboto, "Helvetica Neue", sans-serif; } */
/* You can add global styles to this file, and also import other style files */

/* Reset some default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  /* Set a base font size and font family */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  /* Add your global styles here */
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
